<!--
  Generated template for the ReportDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "primary">
    <ion-title>{{ report.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card padding>
  <ion-card-header>
    <h3>{{ report.author }} <br><small>{{ report.date }}</small></h3>
  </ion-card-header>
  <ion-card-content>
    {{ report.content }}
  </ion-card-content>
  </ion-card>

 
</ion-content>
